<!DOCTYPE html>
<html>
<head>
    <title>Mongoose Flights</title>
    <link rel='stylesheets' href=/stylesheets/style.css/>
</head>
<body>
    <a href="/">Home</a> |
    <a href="/flights">ALL Flights</a> |
    <a href="/flights/new">Add Flight</a> 
 