<%- include('../partials/header') %>

    <h2>Search New Flight Info</h2>
    <form action="/flights" method="POST">
        <label>Airport:
            <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>Airline:
            <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
            </select>
        </label><br>
        <label>Flight:
            <input type="number" min="10" max="9999" name="flightNo">
        </label><br>
        <label>Departure Date:
            <input type="datetime-local" name="departs">
        </label><br>
        <label>Destination:
            <select name="destination">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            </select><br>
            <input type="submit" value="Add Flight">
            
    </form>
    <%- include('../partials/footer') %>